.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}

/* 여백 초기화 */
*{margin:0;padding:0;}
/* 반응형 */
img {width: 100%;}

/* 이미지 슬라이드 */
.slider figure {position: relative;}
.slider figcaption {position: absolute; bottom: 0; left: 0; width: 100%; padding: 20px;
    box-sizing: border-box;
    background-color: rgba(0,0,0,0.5);
    color: #fff;
    font-size: 18px;
}
.slider figcaption em {
    display: block; 
    font-weight: bold; font-size: 28px; text-transform: uppercase; font-family: 'Abel', sans-serif;
    opacity: 0;
    transform: translateX(50px);
    transition: all .84s ease;
}
.slider figcaption span {
    display: block;
    overflow: hidden; text-overflow: ellipsis; white-space: nowrap;
    opacity: 0;
    transform: translateX(50px);
    transition: all .84s 0.2s ease;
}
.slider .slick-active figcaption em {opacity: 1; transform: translateX(0)}
.slider .slick-active figcaption span {opacity: 1; transform: translateX(0)}

.slider .slick-dots {display: block; width: 100%; text-align: center;}
.slider .slick-dots li {display: inline-block; width: 15px; height: 15px; margin: 5px;}
.slider .slick-dots li button {
    font-size: 0; 
    line-height: 0; 
    display: block; 
    width: 15px; height: 15px;
    cursor: pointer; 
    background: #5dbfeb; 
    border-radius: 50%;
}
.slider .slick-dots li.slick-active button {background: #2b91c8;}
.slider .slick-prev {
    position: absolute; left: 0; bottom: 0; 
    z-index: 1000;
    width: 30px; height: 30px; 
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    text-indent: -9999px;
}
.slider .slick-prev::before {
    content: "\f053";
    color: #5dbfeb;
    text-indent: 0;
    position: absolute; left: 9px; top: 8px;
}
.slider .slick-next {
    position: absolute; right: 0; bottom: 0; 
    z-index: 1000;
    width: 30px; height: 30px; 
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    text-indent: -9999px;
}
.slider .slick-next::before {
    content: "\f054";
    color: #5dbfeb;
    text-indent: 0;
    position: absolute; left: 11px; top: 8px;
}